.collaps {
    position: relative;
    width: 1023px;
    height: 298px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-rect {
        position: absolute;
        width: 1023px;
        height: 52px;
        background: rgba(255, 96, 96, 1);
        border-radius: 10px 10px 5px 5px;
        &__p {
            position: relative;
            top: -10px;
            left: 10px;
            width: 956px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
        &__svg {
            position: relative;
            top: -65px;
            left: 966px;
        }
    }
    &-frame2 {
        position: absolute;
        //width: 3585px;
        width: 1023px;
        height: 26px;
        text-wrap: wrap;
        background: rgba(255, 96, 96, 1);
        border-radius: 10px 10px 5px 5px;
        &__p {
            position: relative;
            top: -15px;
            left: 20px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
