&dropdown {
    width: 3585px;
    height: 26px;
    background: rgba(255, 96, 96, 1);
    border-radius: 10px 10px 5px 5px;
    &-p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
    }
}