.home-main {
    position: relative;
    top: 118px;
    left: 100px;
    width: 1240px;
    height: 1095px;
}
.home-image {
    height: 223px;
    width: 1240px;
    object-fit: contain;     
}
.home-p {
    position: relative;
    top: -200px;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

}
.home-loc {
    position: relative;
    top: -100px;
    height: 829px;
    &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}
ul {
    margin-inline-end: 0;
    padding-inline-start: 0;
}