.home-main {
    position: relative;
    top: 163px;
    left: 100px;
    width: 1240px;
    height: 1095px;
}
.home-image {
    height: 223px;
    width: 1240px;
    object-fit: contain;     
}
.home-p {
    position: relative;
    top: -200px;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

}
.home-loclist {
    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}